<div class = "container">
  <div class = "row">
    <!--投稿一覧を表示-->
    <div class = "col-md-6 offset-md-2">
      
    </div>
    <!--いいね数でランキングを表示-->
    <div class = "col-md-4">
      <% @objective.each do |objective| %>
        <%= objective.name %>
        
        <%= attachment_image_tag objective, :profile_image, size: "150x150", fallback: "no_image.jpg" %>
      <% end %>
    </div>
  </div>
</div>