<div class = "bg-i" style = "text-align: center;">
  <div class = "about-title">
    Money Shareについて
  </div>

  <div class = "about">
    <h4 style = "padding-top: 10px">貯金したい人を応援するサイト</h4>
    <p style = "padding-top: 30px">貯金して買いたい・貯金したい金額など目標を共有して<br>
    楽しく貯金をしましょう</p>
    <p style = "padding-top: 30px;">生活費を計算して生活費見直しに活用したり<br>
    貯金できる額を知ることにも是非活用してみてください</p>
  </div>

</div>