// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_objective_button, .savings_button{
text-decoration:none !important; color: white;
color: white;
padding: 5px 10px 5px 10px;
border: none;
border-radius: 2px;
background: #709fa9;
transition: .3s;
}